@font-face {
    font-family: "bold";
    src: url("font/SegoeAltBold.ttf");
}

@font-face {
    font-family: "semilight";
    src: url("font/SegoeAltSemilight.ttf");
}

@font-face {
    font-family: "semibold";
    src: url("font/SegoeAltSemibold.ttf");
}

@font-face {
    font-family: "light";
    src: url("font/SegoeAltLight.ttf");
}

@font-face {
    font-family: "medium";
    src: url("font/SegoeAlt.ttf");
}


@font-face {
    font-family: "sbold";
    src: url("fonts/latest.woff2");
}

@font-face {
    font-family: "smedium";
    src: url("fonts/MWFFluentIcons.woff2");
}

@font-face {
    font-family: "sreg";
    src: url("fonts/latest(1).woff2");
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
}

header {
    width: 100vw;
    box-sizing: border-box;
    min-width: 280px;
    height: 54px;
    background-color: white;
    margin-bottom: 1px;

}

.navbar {
    max-width: 1600px;
    height: 100%;

    margin: 0 auto;
    display: flex;
}

.navbar.one {
    max-width: 1600px;
    /* height: 100%; */
    margin: 0 auto;
    height: 35px;
    display: flex;
    align-items: center;
    font-size: 7.5px;
    font-family: "sbold";
    font-weight: 500;
    padding-left: 16px;
    display: none;
}

.navbar.one img {
    width: 17px;
    height: auto;
    margin-bottom: -4px;
    padding-left: 5px;
}

.navbar1 {
    padding: 16px 6px 16px 10px;
    width: 137px;
    height: 100%;
    box-sizing: border-box;
    float: left;
    margin-right: 7px;
}

.navbar1 img {
    width: 108px;
    height: auto;
    display: block;
    margin-top: -2px;
    padding-right: 10px;

}


.azure::before {
    content: ' ';
    position: absolute;
    height: 24px;
    top: 15px;
    background-color: rgb(12, 12, 12);
    width: 2px;
}

.azure {
    box-sizing: border-box;
    margin-bottom: 2px;
    margin-top: -2px;

}

.azure p {
    width: auto;
    position: relative;
    font-size: 17px;
    font-family: 'Segoe UI', Arial, Helvetica, Arial, sans-serif;
    font-weight: 800;
    color: rgb(65, 63, 63);
    letter-spacing: 0;
    padding-left: 35px;
    height: 24px;
    padding-top: 3px;
}


.navitems {
    height: 100%;
    white-space: nowrap;
    margin-left: 13px;
    overflow-x: visible;
    flex: 1 1 auto;
}

.navitems ul {
    display: flex;
    padding: 6px 30px 16px 16px;
    gap: 29px;
    flex: 1;

}

/* 
.navitems ul  #pricing,
.navitems ul  #partner
{
 margin-right: -4px;
} */
.navitems ul li {
    font-weight: 500;
    list-style-type: none;
    box-sizing: border-box;
    margin-top: -3px;
    font-size: 12.5px;
    letter-spacing: 0.30px;
    line-height: normal;
    /* font-family:"light"; */
    font-family: "sbold";
}

.mobilemenu ul {
    list-style-type: none;
    display: flex;
    flex-flow: row;
    margin-left: 0;
    display: none;
}

.mobilemenu ul #menuicon img {
    height: 11.5px;
    width: 22px;
    padding-left: 5px;
    filter: invert(0);
    font-weight: 500;

}

.mobilemenu ul li {
    padding-right: 15px;
}

.mobilemenu ul img {
    height: 22px;
    width: 20px;

    filter: invert(0);
    font-weight: 500;

    /* margin-bottom: -2.4px; */
    transform: scaleX(-1);
}

.navitems ul li img {
    height: 11px;
    width: 11.0px;
    padding-left: 5px;
    filter: invert(0);
    font-weight: 500;
    margin-bottom: -2.4px;
}

.navitems #more {
    display: none;
}

.rightnav {
    float: right;
    margin-right: auto;
    overflow-x: visible;
    min-width: fit-content;
}

.rightitems {
    padding-top: 6px;
    display: flex;
    justify-content: flex-end;
    overflow-x: visible;
    padding-right: 11px;
}

.rightitems ul {
    display: flex;
}

.rightitems ul li {
    font-weight: 600;
    list-style-type: none;
    box-sizing: border-box;
    margin-top: -3px;
    font-size: 12.6px;
    letter-spacing: 0.20px;
    line-height: normal;
    font-family: "sbold";
    font-weight: 500;
    padding-left: 4px;
    padding-right: 22px;

}

.rightitems img {
    height: 21px;
    width: 22px;
    transform: scaleX(-1);
    margin-top: -3px;

}

.rightitems ul #image {
    padding-right: 31px;
    margin-left: -23px;

}

.try {
    background-color: rgba(108, 199, 24, 0.842);
    border: none;
    margin-right: 20px;
    letter-spacing: 0px;
    padding-left: 9px;
    padding-right: 10px;
    padding-bottom: 4px;
}

.rightitems button {
    font-size: 14.2px;
    margin-top: 7px;
    border-radius: 4px;
    height: 31px;
    letter-spacing: -0.53px;
    font-family: "sbold";
}

.rightitems .sign {
    border: 1px solid black;
    background-color: transparent;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-top: 3px;
}

main {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 580px;
    overflow: hidden;
}

main .maindata {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: content-box;
    position: relative;
    min-height: 580px;
    align-items: center;


}

.subdata {
    max-width: 1328px;
    margin-top: -8px;
    margin-inline: auto;
}

.content {
    letter-spacing: 2px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;


}

.content #topdata {
    font-family: "sreg";
    font-size: 11.6px;
    font-weight: 500;
    letter-spacing: .1em;
    box-sizing: border-box;
    color: rgb(48, 46, 46);
    /* margin-bottom: 1px; */

}

.content h1 {
    font-family: "sreg";
    box-sizing: border-box;
    font-weight: 500;
    font-size: 48px;
    margin-top: 0px;
    padding-top: 1px;

    margin-bottom: 0;
    padding-bottom: 19px;
    letter-spacing: -2.4px;
    font-style: normal;
    line-height: 1
}

.content p {
    font-family: "sbold";
    box-sizing: border-box;
    font-weight: 200;
    font-size: 19.4px;
    line-height: 2rem;
    margin-top: 0px;
    padding-top: 1px;
    letter-spacing: -.329px;


}


.content span button {
    font-family: "sreg";
    border: none;
    border-radius: 8px;
    font-size: 14.5px;
    font-weight: 500;
    margin-right: 1px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 18px;
    padding-right: 17px;
    letter-spacing: -.005em;
    margin-top: 12px;

}

.content span #get {
    background-color: rgb(21, 97, 196);
    color: white;
    padding-right: 18px;

}


.videoback {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transform: unset;
    height: 630px;
    overflow: hidden;
    box-sizing: border-box;
    object-fit: cover;
    min-height: 580px;
    width: 100vw;
    z-index: -30;

}

video {
    width: 100% !important;
    /* display: block !important; */
    /* box-sizing: border-box; */
    height: 100%;
    object-fit: cover;
    /* min-height: 580px; */
    object-position: center;
 

}



.mainbody {
    box-sizing: border-box;
    background-color: white;
  

}

.mainnav {

    box-sizing: border-box;
    position: sticky;
  
    z-index: 700;
    top: 0px;
    max-width: 100vw;
    gap: 70px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(235, 232, 232);
}


.nav {
    position: sticky;
    display: flex;
    height: 56px;
    margin-top: 50px;
    align-items: center;
    box-sizing: content-box;
    margin-inline: auto;
    max-width: 1400px;
    padding: 0 5%;
    justify-content: space-between;


}

.nav ul {
    display: flex;
    list-style-type: none;
    flex-flow: row;
    box-sizing: border-box;
    gap: 47.5px;
    height: 100%;
    padding-top: 13px;
    flex: 1;
    min-width: max-content;
    flex-wrap: wrap;
    overflow: auto;
  
  

}

.nav ul li {
    font-weight: 500;
    font-size: 13.5px;
    line-height: 1.5rem;
    letter-spacing: -.016em;
    color: rgba(21, 66, 117, 0.959);
    font-family: "sreg";


}

.nav ul #news {
    border-bottom: 4px solid rgb(13, 90, 177);
    display: flex;
    justify-content: space-between;

}

.nav ul #news img {
    display: none;
    width: 12px;
    height: 12px;
    color: blue;
    padding-right: 15px;
    padding-top: 5px;
}

.nav .try {
    font-family: "sreg";
    float: right;
    padding-top: 7px;
    justify-content: center;
    padding-bottom: 7.5px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: -.02em;
    margin-bottom: 2px;
    padding-left: 14px;
    padding-right: 14px;
    min-width: 140px;
    margin-right:35px ;
}

.bodysection {
    box-sizing: border-box;
    align-items: center;
    margin-inline: auto;
    padding-left: 5%;
    padding-right: 5%;
}

.subbody {
    padding-top: 82px;
    margin-inline: auto;
    max-width: 1328px;
    box-sizing: content-box;
}

.subbody .data {
    font-family: "sreg";
    padding-bottom: 26px;
}

.data p {
    font-family: "sbold";
    font-size: 11.8px;
    letter-spacing: 1.1px;
    margin-bottom: -17px;
    font-weight: 600;
}

.data h1 {
    font-family: "sreg";
    letter-spacing: -1.81px;
    font-size: 32.5px;
    font-weight: 500;



}

.cardbody {
    box-sizing: border-box;
    max-width: 1328px;
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 18px;
    margin-inline: auto;
    padding-right: 9px;

}

.card {
    display: flex;
    flex-flow: column;
    gap: 0px;
    border-radius: 20px;
    background-color: white;
    /* box-sizing: border-box; */
    box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.1);
    flex: 1 1 0;
    /* position: relative; */
    padding: 8px;
    min-width: 1px;
    /* height: auto; */
    /* justify-content: space-between; */
    max-width: max-content;
    overflow: hidden;


}

.card img {
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    aspect-ratio:1/0.43;

}

.card h3 {
    flex: 1;
    margin-bottom: 1px;
    font-family: "sreg";
    font-weight: 500;
    font-size: 1.23rem;
    letter-spacing: -.4px;
    padding-top: 8px;
    padding-left: 16px;
    padding-bottom: 0px;
    
}

.card p {
    /* margin-top: -10px; */
    font-family: "sbold";
    font-size: 15.5px;
    font-weight: 500;
    line-height: 1.5rem;
    padding-bottom:13px;
    padding-top: 0px;
    padding-left: 16px;
    padding-right: 35px;
    letter-spacing: -.25px;
    margin-bottom: 10px;

}

.card span {
    color: rgba(4, 50, 140, 80);
    display: flex;
    padding-left: 16px;
    padding-top: 25px;
    /* padding-bottom: 0px; */
    
    
}

.card span button {
    border: none;
    border-radius: 8px;
    background-color: rgba(3, 130, 230, 10);
    height: 35px;
    padding-left: 10px;
    padding-right: 9px;
    padding-top: 3px;
    padding-bottom: 7px;
    margin-right:-10px;


}

.card span p {
    margin-top: 5px;
    min-width: max-content;
    letter-spacing: -0.4px;
    font-family: "sbold";
    font-weight: 600;
    font-size: 13.5px;
}


.subbody.two .data p {
    font-size: 11.1px;
    font-family: "sreg";
    font-weight: 500;
    letter-spacing: 1.5px;
    padding-bottom: 2px;

}


.card span img {
    width: 16px;
    filter: invert(1);

}

.maindevelop {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-inline: auto;
    max-width: 1328px;
    box-sizing: content-box;
    margin-top: -18px;
}

.development {
    display: flex;
    gap: 8px;
    overflow: auto;
}

.development button {
    border: none;
    background-color: rgba(0, 85, 151, 0.1);
    border-radius: 20px;
    font-family: "semibold";
    font-weight: 500;
    font-size: 15px;
    color: rgb(3, 55, 94);
    padding-top: 12px;
    padding-left: 24px;
    padding-right: 24px;
    letter-spacing: -.02em;
    padding-bottom: 9px;
    min-width: max-content;
}

.development #app {
    color: white;
    background-color: rgba(3, 90, 160, 10);
}

.development.two #right {
    border-radius: 50px;
    aspect-ratio: 1/1;

}

.development img {
    width: 30px;
}

.arrowbtn {
    /* background-color: linear-gradient(90deg,transparent,#fdfeffc2,#fdfeffc2,
    #fdfeffc2,#fdfeffce,#fdfeffc2,#fdfeffc2);
    */
    background:transparent;
    display: none;
    width: fit-content;
    height: fit-content; padding-left: 30px;
    /* position: absolute; */
}

.arrowbtn button {
    background-color: white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: 2px solid rgb(3, 55, 94);
    background: transparent;
}

.arrowbtn img {
    width: 20px;
    padding: 3px;

}

.bodysection{
    background: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/product-background_desktop_homepage?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=1129&qlt=100&fmt=png-alpha&fit=constrain"); 
    background-repeat: no-repeat;
    place-items: center;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}



.buildsec {
    display: flex;
    flex-flow: row;

    margin-inline: auto;
    max-width: 1328px;
    box-sizing: border-box;
    max-height: 557px;
    /* height: auto; */
    /* position: relative; */
    width: 100%;
    margin-top: 35px;
    column-gap: 200px;
    /* padding-top: 30px; */
    justify-content: space-between;

}
.mainbuild {
    display: flex;
    flex-flow: row;
    column-gap: 47px;
    /* flex-flow: column; */
    /* box-sizing: border-box; */
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
    height: 492px;
    max-width: 430px;
    flex: 1;
    min-width: 40px;
    padding-right: 9px;
    overflow: none;
    height: max-content;

}
.subbuild{
    display: flex;
    flex-flow: column;
   
}
.subone {
    margin-top: 0;
}

.build {
  
    box-sizing: border-box;
    border-bottom: 1px solid rgb(187, 181, 181);
    color: #082338;
    font-family: "sbold";
    padding-bottom: 20.5px;
    font-size: 19px;
    padding-top: 21px;
    width: 100%;
    justify-content: center;
    flex-basis: calc(33% -1rem /2);


}

.build p {
    font-size: 16px;
    letter-spacing: -0.6px;
}

.build.one h1 {
    margin-top: 0px;
    padding-top: 2px;
    padding-bottom: 1.3px;
}

.build.one {
    margin-top: -3px;
    padding-top: 0;
    padding-bottom: 34px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-left: -3px;
    /* justify-content: space-between; */
}

.build a {
    color: #023f6b;
    font-weight: 600;
    font-size: 13px;
    padding-top: 19px;


}

.subone.hide .buildimage{
    /* display: none; */
    padding-top: 20px;
    width: 100%;
    max-width: 100%;
    padding-bottom: 20;

}

.buildimage.one{
    display: none;
}
.buildimage {
    /* right: 0; */
    /* top: 0; */
    position: relative;
    width: 50%;
    height: 100%;
    /* height: auto; */
    max-width: 656px;
    max-height: 528px;
    place-items: center;
    aspect-ratio: 5/4 !important;
    overflow: hidden;


}

.buildimage img {
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    border-radius: 30px;
    /* position: absolute; */
    /* aspect-ratio: inherit; */
    /* vertical-align: middle; */
}
.discover{
    position: absolute;
    z-index: 30;
    padding: 6.5px 7px;
    /* place-items: center; */
    
}
.discover button {
    border: none;
    background-color: #1779be;
    padding: 15px;
    border-radius: 10px;
    place-items: center;
    display: grid;
    /* top: 200px; */
    /* left: 300px; */
}

.discover button img {
    width: 16px;
    height: 16px;
    position: relative;
}

.build h1 {
    font-size: 19.6px;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: -.02em;
    display: flex;
    padding-left: 1px;
    font-family: "sreg";

}


.build #toparrow {
    transform: scaleY(-1);
    margin-top: 5px
}

.build img {
    width: 18px;
    display: inline-flex;
    height: 18px;
    padding-left: 7px;
    padding-top: 5px;

}


.build span {
    display: flex;
    flex-flow: row;

}

.subbuild .subone {
    padding-left: 50.5px;
}

.subbuild .subone.one {
    border-left: 4px solid rgb(4, 100, 190);


}

#common {
    margin-inline: auto;
    margin-top: 0;
    max-width: 1328px;
}

.commonbutton {

    color: rgba(4, 60, 110, 80);
    display: flex;
    height: 30px;
    font-family: "sbold";
    font-size: 13.5px;
    font-weight: 600;
}

.commonbutton button {
    border: none;
    border-radius: 8px;
    background-color: rgba(3, 130, 230, 10);
    height: 35px;
    padding-left: 9.5px;
    padding-right: 9.5px;

    padding-top: 3.6px;
    margin-right: 8px;


}

.commonbutton p {
    margin-top: 8px;
    letter-spacing: -0.35px;
}

.commonbutton img {
    width: 16px;
    filter: invert(1);

}

.development.two {
    padding-top: 16px;
}
.bodysection.three{
    background-position: right;
    padding-bottom: 100px;
    place-items: center;
}
.explorediv {
    padding-top: 47px;
    box-sizing: content-box;
    max-width: 1328px;
    margin-inline: auto;
    /* height: 100%; */
    overflow: hidden;
    padding-bottom: 47px;
}

.expone {
    display: flex;
    flex-flow: row;
    height: 597px;
    flex: 1 1 auto;
    padding-right: 14px;
   
    box-sizing: content-box;
}

.phi {
    position: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/ACOM-HP-Desktop-ENUS-Product-PromoCard-Phi3-Overlay@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=320&hei=560&qlt=100&fmt=png-alpha&fit=constrain");
    grid-area: 1/1;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0 0 25%;
    /* width: 100px; */
    max-width: 21%;
    border-radius: 20px;
    padding-left: 22px;
    padding-bottom: 20px;
    color: white;
    padding-right: 20px;
    margin-left: 0px;
    background-image: linear-gradient(180deg black, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3), transparent);

}

.phi h1 {
    font-family: "sreg";
    font-weight: 500;
    letter-spacing: -1.7px;
    font-size: 12;
    margin-bottom: 0;
}

.phi p {
    font-family: "sbold";
    font-weight: 500;
    padding-right: 5px;
    font-size: 15px;
    line-height: 1.6;

}

.phibutton {
    width: max-content;
    background-color: rgba(161, 219, 247, 0.979);
    border: none;
    padding: 18px;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    border-radius: 10px;
    letter-spacing: -0.0px;

}

.azureapps {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
    padding-left: 17px;
    padding-right: 50px;
    flex: 0 0 75%;
    
    max-width: 75%;


}

.cards {
    box-sizing: border-box;
    box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.1);
    padding-top: 25px;
    padding-left: 24px;
    border-radius: 20px;
    padding-bottom: 25px;
    padding-right: 10px;
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    background-color: white;
    justify-content: space-between;
    height: 100%;
    font-family: "sbold";
}

.cimage {
    border: 1px solid grey;
    width: max-content;
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 19px;
    padding-bottom: 13px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(240, 233, 233);
}

.cdata h1 {

    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.8px;

}

.cdata p {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.1px;


}

.link a {
    color: #0b4775;
    font-weight: 500;
    font-size: 13px;
    bottom: 0;
    font-family: "sreg";


}

.maingartner {

    max-width: 1328px;
    margin-inline: auto;
    box-sizing: border-box;
    padding-top: 100px;;
    padding-right: 10px;
}


.subgartner {
  
    box-sizing: content-box;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1320px;
    margin-inline: auto;
    border-radius: 25px;
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 8px;
    min-height: 512.5px;
    max-height: 504px;
    background-color: white;


}

.gartdata {
    padding-left: 10px;

    width: fit-content;
    display: flex;
    justify-content: center;
    flex-flow: column;
    /* padding-bottom: 10px; */
    padding-right: 40px;
    padding-bottom: 10px;
}

.gartdata h1 {
    font-family: "sreg";
    font-weight: 500;
    letter-spacing: -1.6px;
    font-size: 32px;
    line-height: 0.9;


}

.gartdata p {
    font-family: "sbold";
    font-weight: 500;
    font-size: 15px;
    line-height: 1.6;
    margin-top: 1px;
    /* padding-bottom: 1px; */
    letter-spacing: -0.0245px;
}

.gartimage {
    /* background: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gartner-accouncement-1_newimage?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=656&hei=492&qlt=100&fmt=png-alpha&fit=constrain"); */
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gartimage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;

}

.arrows{
    display: flex;
    column-gap: 8px;
    margin-top: 35px;
    width: 100%;
}
.arrows li{
    border-radius: 50px;
    aspect-ratio: 1/1;
    place-items: center;
    border: 2px solid black;
    width: 45px;
    height: 45px;
}
.arrows li img{
    width: 35px;
    height: 35px;
}

#samebutton {
    border: none;
    background-color: #0976c4;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 8px;
    color: white;
    font-family: "sreg";
    font-weight: 500;
    /* letter-spacing: -1.3px; */
    font-size: 14.6px;
    max-width: fit-content;
}

.transform {
    box-sizing: border-box;
    /* padding-left: 5%; */
    /* padding-right: 5%; */
    margin-top: -12px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1328px;
    justify-content: center;
    align-items: center;
    text-align: center; 
    padding-bottom: 30px;
  
}

.subtransform p {
    font-family: "sbold";
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

.subtransform h1 {
    font-family: "sreg";
    font-weight: 500;
    margin-top: 0;
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 0;

}


.developers ul li#first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 4px solid #2968af;
}

.developers ul li#last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.developers ul li:hover {
    border-bottom: 4px solid #2968af;
}

.developers {
    border-radius: 20px;
 width: 100%;
    overflow: scroll;
    max-width: 1328px;
    
    height: max-content;
}

.developers ul {
    display: flex;
    list-style-type: none;
    background-color: white;
    box-sizing: border-box;
    height: fit-content;
    align-items: center;
    width: 100%;
    margin-top: 32px;
    padding-left: 0;

  
}

.developers ul li {
    box-sizing: border-box;
    border: 1px solid rgb(173, 163, 163);
    border-bottom: 4px solid rgb(173, 163, 163);
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 7.7em;
    min-width: max-content;
    /* justify-content: space-between; */
    /* border-right: 1px solid rgb(201, 194, 194); */
    font-family: "sbold";
    font-weight: 600;
    font-size: 15px;

}

.developers ul li#first {
    border-bottom: 4px solid rgb(39, 39, 100);
}

.bodysection.transform
{
  
/* ============================================== */

}
.transform span{
    margin-inline: auto;
    max-width: 1328px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
   
}
.transform span p{
    font-family: "sreg";
    letter-spacing: -0.1px;
    font-size: 14px;
}
.transform #opt {
    font-family: "sreg";
    font-size: 22px;
    letter-spacing: -1px;
    padding-top: 20px;
    font-weight: 500;
}

.transform .developerimage {
    width: 62.80%;
    margin: auto;
    height: initial;
    background-color: #f2f2f2;
    padding: 20px 26px;
    border-radius: 20px;
    margin-bottom: 70px;
}

.transform .developerimage img {
    width: 100%;
    border-radius: 40px;
    object-fit: cover;

}

.global {
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Desktop-AzureRegions-2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=3200&hei=983&qlt=95&fmt=png-alpha&fit=constrain");
    text-align: center;
    place-items: center;
    width: 100%;
    left: 0;
    right: 0;
    background-size: cover; 
     margin-bottom: 0;
    background-position: center;

}

.globedata {
    color: rgb(243, 238, 238);
    max-width: 1328px;
    text-align: center;
    place-items: center;
    margin-inline: auto;
    box-sizing: content-box;
    padding-bottom: 125px;
    padding-top: 55px;

}

.globedata h1 {
    font-family: "sreg";
    font-size: 48px;
    letter-spacing: -2.5px;
    font-weight: 500;
    padding-bottom: 0;
}

.globedata p {
    font-family: "sbold";
    font-weight: 500;
    /* line-height: 1px; */
    padding-top: 0;
    letter-spacing: -0.6px;
    font-size: 20px;
    padding-bottom: 10px;
}


.globedata #samebutton {
    margin-top: 20px;
    background-color: #a2d2ee;
    color: black;
}

.maingartner.two {
    padding-left: 8%;
    padding-right: 1%;

}

.customer {
    max-width: 1328px;
    margin-inline: auto;
    justify-content: center;
    box-sizing: border-box;
    padding-bottom: 20px;
  

}
.customer .subbody{
    margin-top: 0;
    padding-top: 60px;
}

.subone #house img {
    border: 1px solid rgb(190, 187, 187);
    border-radius: 5px;
    margin-bottom: -10px;
}

.customermain {
    width: 99.4%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 16px;
    margin-top: -20px;
}

.customer #iotlinks {
    padding-bottom: 34px;
}

.customer #iotlinks img {
    margin-bottom: -4px;
}

.customer #iotlinks a {
    color: rgb(7, 102, 180);
    font-size: 13px;


}

.customersub {
    /* margin-top: 35px; */
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    /* padding: 13px; */
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: "sbold";

    box-shadow: 1px 0px 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    border: none;
}


.customerdata {
    display: flex;
    flex-flow: column;
    font-family: "sreg";
    justify-content: space-between;
    padding: 16px;

}

.customerdata h3 {
    font-weight: 500;
    font-size: 23px;
    letter-spacing: -0.7px;
}

.customerdata p {
    font-size: 14px;
    font-family: "sreg";
}

.customerimage {
    overflow: hidden;
}

.customerimage img {
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
    object-fit: cover;
    object-position: center;
    height: 100%;
}

.gridimg {
  
    margin-inline: auto;
    /* overflow: hidden; */
    /* padding-left:2%; */
    max-width: 100vw;
    width: 100%;
    /* padding-right: 0px; */


}
.gridimg .arrows{
    display: none;
}

.gridimg ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style-type: none;
    width: 100%;
    /* max-width: 1000px;    */
    /* margin-left: -7%; */
    /* align-items: center; */
    /* overflow: hidden; */
    border-radius: 24px;
    /* padding-right: 3%; */
    margin-inline: auto;
    box-shadow: 1px 0px 0px 1px rgba(0, 0, 0, 0, 0.1);

}

.gridimg ul li {
    background-color: white;
  
    padding-left: 30px;
    padding-top: 31px;
    padding-right: 29px;
    padding-bottom: 24px;
    border: 1px solid rgb(221, 211, 211);
    border-bottom: 4px solid rgb(221, 211, 211);
  
}

.gridimg ul li img {
    box-sizing: border-box;
    /* object-position: contain; */
    width: 100%;
    padding: 1.5px;
    object-fit: cover;
}

.gridimg ul li#first {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 4px solid #2968af;
}

.gridimg ul li#last {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.gridimg ul li:hover {
    border-bottom: 4px solid #2968af;
}

.apps {
    max-width: 1328px;
    justify-content: left;
    margin-inline: auto;

}

.apps ul {
    display: flex;
    box-sizing: border-box;
    list-style-type: none;
    gap: 10px;
    /* vertical-align: middle; */


}
.nextstep{
    display: grid;
    place-items: center;
    padding-top: 145px;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/CTA-BG-desktop@2x?resMode=sharp2&op_usm=1.5,0.65,15,0&wid=1600&hei=512&qlt=100&fmt=png-alpha&fit=constrain");
    width: 100%;
    background-size: cover;
    background-position: center;

}
.nextstep .subnext{
    max-width: 1328px;
    place-items: center;
    padding-top: 0px;

    padding-bottom: 90px;
}
.subnext h1{
    margin-inline: auto;
    font-size: 40px;
    justify-content: center;
    font-family: "sreg";
    text-align: center;
    font-weight: 500;
    letter-spacing: -2px;
    padding-bottom: 18px;

}
.subnext .card .carddata{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    flex:1;
    padding-top: 1px;
    padding-right: 25px;
}
.carddata h3{
    letter-spacing: -1.2px;
    font-size: 24px;
    padding-top: 15px;
    margin-top:0px;
   
   }


   .carddata span{
    margin-bottom: -5px;
   }

   .carddata p{
    letter-spacing: -0.5px;
    font-size: 16px;
    line-height: 24px;
   
   }
.apps ul li img {
    width: 24px;


}

.apps ul li p {
    padding-left: 5px;
}

.apps ul li:not(#getazure) {
    padding-top: 18px;
}

.apps ul li span {
    display: flex;
    font-family: "sreg";
    background-color: #f2f2f2;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    font-size: 15px;
   
}

.gridimg .arrows {
    margin-left: -40px;
}
.gridimg #two{
    transform: scaleX(-1);
    border: 2px solid rgb(2, 2, 2);
   
}
.gridimg .arrows  button{
    background-color: white;
    border: 2px solid rgb(214, 215, 228);
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.gridimg .arrows img{
    width: 40px;
    filter: opacity(0.4);
 
}
.gridimg .arrows #two img{
 
    filter: opacity(1);
 
}
footer {
    /* margin-inline: auto; */
    /* left: 0; */
    bottom: 0;
    max-width: 100vw;
    width: 100%;
    /* right: 0; */
    background-color: #f2f2f2;
    display: grid;
    margin-top: 36px;
    padding-bottom: 3px;
    place-items: center;
    color: rgb(85, 82, 79);



}

footer ul li {
    list-style-type: none;
}

.footer1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* max-width: calc(1600px + 10%); */
    margin: 0 auto;
    box-sizing: border-box;
    /* width: 100%; */
    padding-left: 4%;
    padding-top: 10px;
}

.footer1 ul li:first-child {
    font-size: 15px;
    font-family: "sbold";
    font-weight: 600;
    /* line-height: 1; */
}


.footer1 ul li {
    line-height: 2.8;
    font-family: "sbold";
    font-size: 11px;
    /* padding:9px 0; */
    word-break: break-word;
}

.footerbottom {
    max-width: calc(1600px + 10%);
    /* padding: 30px 5% 16px; */
    box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    line-height: 2.5;
    font-family: "sbold";
    font-size: 11px;
    padding: 30px 5% 16px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 1px;
    width: 100%;
    margin-bottom: 0;
}

.foot1,
.foot2 {
    min-width: fit-content;
}

.foot1 span {
    padding-left: 20px;
}

.foot1 img {
    height: 20px;
    margin-bottom: -4px;
}

.foot2 ul {
    display: flex;
    gap: 24px;
}
























@media screen and (max-width:1780px) {
    .azure p {
        padding-left: 21px;
    }

    .navitems ul {
        gap: 18px;
    }


}



@media screen and (max-width:1170px) {
    .navitems #solution {
        display: none;
    }
    .gridimg {
      
    }
}

@media screen and (max-width:1439px) {
    .subdata {
        margin-top: -11px;
    }

    .subdata .content h1 {
        font-size: 40px;
        padding-top: 28px;
        padding-bottom: px;
    }

    .subdata .content p {
        font-size: 18px;
        line-height: 1.6;
        letter-spacing: -0.55px;

    }

    .subbody .data p {
        margin-bottom: -20px;
    }

    .subbody .data h1 {
        margin-top: 18px;
        font-size: 24px;
        line-height: 2;
        letter-spacing: -1.2px;
        /* letter-spacing: -0.rem; */
    }


    .mainnav {
        padding-left: 0%;
        padding-right: 0%;
    }

    .nav {
        margin-left: 0px;
        padding-left: 35px;
        margin-right: -50px;
    }


    .card h3 {
        font-size: 18px;
        margin-bottom: 1px;
    }

    .explorediv {
        padding-top: 50px;
        height: max-content;
        min-height: max-content;
        position: relative;
        max-height: 100%;
        padding-right: 9px;
    }

    .subbody.two .data p {
        margin-top: 13px;
    }

    .subbody.two .data h1 {
        margin-top: 18px;
    }

    .expone {
        display: flex;
        flex-flow: column;
        gap: 20px;
        max-width: 100%;
        min-width: 0;
        box-sizing: border-box;
        max-height: max-content;
        height: max-content;
        width: 100%;
    }

    .phi {
        display: flex;

        /* width: 100%; */
        aspect-ratio: 5/2;
        max-width: 100%;
        min-width: 0;

    }

    .phi h1 {
        font-size: 24px;
    }
     
    .azureapps {
        flex: 0 0 100%;
        max-width: 100%;
        width:100%;
        padding-left:2px;
        
    }
    .cards{
        min-height: max-content;

    }
    .gartdata h1{
        line-height: 1;
        letter-spacing: -1.3px;
        font-size: 24px;
    }
   .subtransform .arrowbtn{
    display: flex;
    float: right;
    margin-top: -77px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: -30px;
    background:linear-gradient(90deg,#f5fafdd7,#f5fafdef,#f5fafd,#f5fafdef,#f5fafd,#f5fafd);
   }
   .subtransform h1{
    font-size: 30px;
   }
   .transform #opt {
     letter-spacing: -1px;
    font-size: 20px;
   }
   .subnext h1{
    font-size: 30px;
    letter-spacing: -1.4px;
   }
   .carddata h3{
    letter-spacing: -1px;
    font-size: 20px;
    line-height: 28px;
   }

}


@media screen and (min-width:1400px) {
    .maindata .content h1 {}
}


@media screen and (max-width:1405px) {
    .navitems #resources {
        display: none;
    }

    .navitems #more {
        display: inline;
    }

    .rightitems #search {
        display: none;
    }
}

@media screen and (max-width:1389px) {
    .foot2 {
        margin-bottom: -2;
        margin-left: auto;
        margin-right: auto;

    }

    .card h3 {
        font-size: 17px;
    }

}

@media screen and (max-width:1343px) {
    .navitems #partner {
        display: none;
    }
}


@media screen and (max-width:1253px) {
    .navitems #pricing {
        display: none;
    }
}


@media screen and (max-width:1083px) {

    .navbar {
        padding-left: 24px;
    }

    .navitems {
        margin-left: 5px;
    }

    .navitems #explore {
        padding-right: 3px;
    }

    .navitems #product {
        padding-right: 3px;
    }

    .navitems ul li {
        letter-spacing: 0.25px;
    }

    .navitems #pricing,
    .navitems #partner,
    .navitems #resources,
    .navitems #solution {
        display: inline;

    }

    .navitems #more {
        display: none;
    }

    .rightitems button,
    .notdisplay {
        display: none;

    }

    .rightitems #image {
        margin-right: -5px;
    }

    footer {
        margin-left: 0px;
        padding-left: 0px;
    }

    .footer1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* column-gap: 50px; */



    }

    .foot1 {
        display: flex;
        flex-flow: column;
        padding-bottom: 50px;

    }

    .foot2 {
        margin-top: 70px;
    }
}




@media screen and (min-width:1084px) {
    .navbar {
        padding: 0 5%;
    }

}

@media screen and (max-width:1048px) {
    .subbody .data {
        max-width: 396px;


    }
}

@media screen and (max-width:924px) {
    .subbody .data {
        max-width: 390px;
    }
}

@media screen and (max-width:939px) 
{
    .arrowbtn.two{
        display:flex;
        margin-top: 15px;
        
    }
}
@media screen and (max-width:986px) {
    .subdata {
        margin-right: 50px;
    }
}

@media screen and (max-width:880px) {
    .arrowbtn.one {
        display: flex;
        
    }

}

@media screen and (max-width:858px) {

    main {
        height: 368px;
    }

    .maindata {
        display: flex;
        margin-top: 0;

        margin-left: 20px;

    }

    .subdata {
        width: 100%;
        padding-top: 0;
        margin-inline: auto;
        justify-content: center;
        align-items: center;
        height: 511px;

    }

    .content {
        width: 95%;
        padding-left: 1px;



    }

    .subdata .content h1 {
        font-size: 32px;
        margin: 0;
        padding-top: 3px;
        padding-bottom: 16px;
    }

    .subdata .content #topdata {
        letter-spacing: 1;
    }

    .subdata .content p {
        line-height: 1.55;
        letter-spacing: -0.53px;
    }

    .content span button {
        margin-top: 6px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 14px;
        padding-right: 13.5px;

    }

    .content span #get {
        padding-right: 14px;
    }

    .navbar {
        padding-left: 0px;
        margin-left: -25px;
        margin-top: 0;
        margin-top: -2px;
        border-bottom: 1px solid rgb(226, 220, 220);
    }

    .mobilemenu ul {
        display: flex;
        margin-top: 18px;
    }

    .navitems,
    .rightnav,
    .azure {
        display: none;
    }

    .navbar1 {
        margin-left: auto;
        margin-right: 40.4%;


    }

    .navbar.one {
        display: flex;
    }

    .mainnav .nav {
        margin-left: -70px;
    }

    .mainnav .nav ul li:not(.nav ul #news) {
        display: none;
    }

    .nav {
        margin-top: 5px;
        margin-right: -40px;
    }

    .nav #news {
        width: calc(100% - 15px);
        padding-left: 12px;
        font-size: 11.5px;
        margin-bottom: 4px;
        padding-top: 3px;

    }

    .nav ul #news img {
        display: flex;
    }

    .subbody {
        padding-top: 43px;

    }

    .subbody .data h1 {
        font-size: 23.6px;
        letter-spacing: -1px;
        padding-top: 17px;
        margin-top: 0;
    }

    .bodysection {
        padding-left: 7.5%;
        padding-right: 7%;
    }

    .cardbody {
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 13px;
        margin-top: -16px;
    }

    

    .card p {
        letter-spacing: -0.04px;
        margin-bottom: 14px;
        padding-top: 0;
        padding-left: 8px;
        padding-bottom: 0;
    }

    .card h3 {
        padding-top: 0;
        padding-bottom: 0;
        font-size: 18px;
        padding-left: 8px;
        /* padding-bottom: 11px; */

    }

    .card img {
        border-radius: 10px;
    }

    .card span {
      
        padding-top: 8px;
        padding-left: 8px;
        padding-bottom: 5px;
    }
    .card span button{
        margin-right: 5px;
    }

    .development button {
        padding-left: 16px;
        padding-right: 16px;
    }


    .subbody .data {
        max-width: 900px;
    }


.buildsec{
        display: flex;
        flex-flow: column;
        width: 100%;
        max-width: 100%;
      height: max-content;
      max-height: max-content;
      padding-left: 0;

    }
    .mainbuild {
        max-width: 100%;
        width: 100%;
        overflow-y: visible;
        height: max-content;
        max-height: max-content;
        padding-bottom: 40px;
        padding-left: 0;
    }
    .subbuild{
        width: 100%;
        max-width: 100%;
        height: max-content;
        max-height: max-content;
        padding-left: 0;
    }
   .buildsec .buildimage.one{
    display: none;
   }


    .subbuild .subone.one {
        border: none;
        padding-left: 0;
    }
  .customersub{
    display: flex;
    /* height: 100%; */
    flex-flow: column-reverse;;
    max-height: none;
    
  }
  
    .azureapps {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 13px;
        min-height: fit-content;
        width: 100%;

    }


    .subgartner {
        /* display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;
        justify-content: center;
        row-gap: 15px; */
        display: flex;
        /* height: 100%; */
        flex-flow: column-reverse;;
        max-height: none;
        
    }

    .subgartner .gartdata {
      padding-top:40px ;
      padding-bottom: 40px;
    }

    .globedata h1 {
        font-size: 32px;
    }
   .transform .developerimage{
        width: 100%;
        /* padding-left: 15px; */
        margin-right: 10px;
         margin-bottom: 50px;

        padding-right: 15px;
    }
   .subnext .cardbody .card{
    width: 80vw;
    max-width: 100%;
  
   }
.gridimg .columnimage{
    display: none;
}
   .gridimg .arrows{
    display: flex;
   }
 
}



@media screen and (max-width:538px) {

    main{
        height: 456px;
    }
    .navbar1 {

        margin-right: 12.3rem;
    }

    .maindata {
        margin-left: 0;
        width: 100%;

    }

    .bodysection {
        padding-left: 3%;
        padding-right: 4%;
    }

    .subdata {
        padding-right: 5px;
    }

    .subbody {

        width: 100%;
    }

    .content {
        margin-left: -11px;
        padding-left: 0;



    }

    .content span {
        display: flex;
        flex-flow: column;
        width: 100%;
        gap: 1.5px;

    }


    .globedata #samebutton {
        width: 100%;
        max-width: 100%;

    }

    .phi div{
     
   min-height: max-content;
}
}
